# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.pdf
*.out
*.lines
*.cont
*.ovr
.idea/
/c17.02/
c17.02
._c17.02